footer {
    background-color: #0092F2;
    display: flex;
}

.container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;

}
footer img{
    width: 30px;
}