header {
    background-color: #303133;
    display: flex;
    font-size: 1.9rem;

}
header .logo {
    width: 23rem;
    transition: margin-left 1.5s;

}
.logo:hover{
    margin-left: 5rem;
}
header a {
    color: #ffaa00;
    text-decoration: none;
    margin: 1rem;
}
header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 1.8rem;
    gap: 2rem;
    flex-wrap: wrap;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
h1{
    margin-top: 8rem;

}
footer {
    background-color: #303133;
    color: #F2AF0B;
    font-weight: 530;
    margin-top: 5rem;
}
footer img{
    width: 30px;
    transition: transform 0.4s;
}
footer img:hover{
    transform: scale(1.3);

}
footer .container{
    margin: 0 auto;

    display: flex;
    align-items: center;
    height: 8rem;
    justify-content: space-around ;
}
#socials a{
   margin: 1rem;
}
#menu {
    display: none;
}
header nav.horizontaal ul {
    display: flex;
    list-style: none;
    gap: 60px;
    padding-left: 0;
}

header nav .verticaal ul {
    position: fixed;
    top: 80px;
    left: 0;
    width:  100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 60px;
    background-color: #303133;
    text-align: center;
    padding-bottom : 29px;
}
/*
  Center vertically
 ******************/

 .wrapper{
    position:relative;
}
.vertical-center{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 400px;
}/*
 Hamburger
 ********************/
.hamburger {
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 31px;
    top: 32px;
    right: 26px;
    transition-duration: 0.5s;
    border-top: #212121 solid 5px;
    border-bottom: #212121 solid 5px;
    cursor: pointer;
}

.hamburger .icon-left {
    position: absolute;
    height: 5px;
    width: 15px;
    top: 8px;
    background-color: #212121;
    left: 0;
    transition-duration: 0.5s;
}

.hamburger .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 5px;
    width: 15px;
    top: 8px;
    left: 15px;
    background-color: #212121;
}

.visible {
    display: block !important
}

@media (min-width:1000px) {
    #menu {
        display: block;
    }

    .hamburger {
        display: none;
    }
}

@media (min-width: 1300px) {
    #menu {
        display: block;
    }
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.secret{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.eenheid{
    flex: 0 0 18%;
    position: center;
    align-items: flex-start;
}
.video{
    flex: 0 0 50%;
    padding: 15px;
    filter: drop-shadow(0.5rem 0.3rem 0.3rem rgba(48, 49, 51, 0.5));
    transition: transform 0.4s;
}
.video:hover{
    transform: scale(1.06);
}
.center{
    align-items: center;
}
.filmpje{
    width: 350px;
    padding: 15px;
}
@media (min-width: 1200px){
    .video{
        flex: 0 0 33%;
    }
}
@media (min-width: 1800px){
    .video{
        flex: 0 0 23%;
    }
}


.roll {
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;

    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
}
.roll span {
    display: block;
    position: relative;
    padding: 0 2px;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}
.roll:hover span {
    background: #111;

    -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 2px;

    color: #303133;
    background-color: #ffaa00;
    border-radius: 7px;

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

