main {
    text-align: center;
    background-color: #303133;
    color: #ffffff;
    border-radius: 3rem;
    padding: 3rem;
    margin: 3rem;
}body {
    color: #000000;
   background-image: url("../images/producten/product_background.jpg");
}

input[type=text],
textarea {
    display: block;
    width: 100%;
    max-width: 40rem;
    padding: .75em;
    border: 1px solid #666;
    border-radius: .3rem;
}
